

:global(.component_container){
  width: 75%;
  /* border: 1px solid white; */
  margin-inline:auto;
  margin-top: 3rem;
  
}

/* ############################################################################### */

/*  */

.projects_component {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  width: 100%;
  margin-inline: auto;
  margin-top: 4rem;
}
